# App Configuration
NEXT_PUBLIC_BASE_URL=https://sisi.com.pe
NEXT_PUBLIC_API_URL=https://api.sisi.com.pe
NEXT_PUBLIC_APP_NAME=Sisi
NEXT_PUBLIC_WHATSAPP_NUMBER=51934164201

# API Configuration (for future real API)
# API_BASE_URL=https://api.sisibeauty.pe
# API_KEY=your_api_key_here

# Analytics (optional)
# NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Environment
NODE_ENV=development
