# App Configuration
NEXT_PUBLIC_BASE_URL=https://sisi.com.pe
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_APP_NAME=Sisi
NEXT_PUBLIC_WHATSAPP_NUMBER=51934164201

# API Configuration
API_BASE_URL=http://localhost:8000/api/v1
# API_KEY=your_api_key_here

# Analytics (optional)
# NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Environment
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
